Repository QEDK/Mentored, pull requests merged in 2020-10, with the labels that each got.

#27 chore(docs): Create ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE.md
Labels: documentation

#25 chore(docs): Create PULL_REQUEST_TEMPLATE
  .github/PULL_REQUEST_TEMPLATE
Labels: documentation

#29 general: Make a basic README
  README.md
Labels: documentation

#32 backend: Add database actions for the finalized api calls
  backend/CuratedLists/views.py
Labels: backend

#33 backend: Add profile data for login response and fix JSON formatting
  backend/CuratedLists/views.py
Labels: backend, bug, enhancement

#36 general: Create flake8 action
  .github/workflows/flake8.yml
Labels: backend, documentation, enhancement

#37 backend: Return author name with curations
  backend/CuratedLists/views.py
Labels: backend, bug

#38 general: Update README to include more content
  README.md
Labels: documentation

#40 general: Add contribution guidelines for the project
  CONTRIBUTING.md
  README.md
Labels: documentation

#42 frontend: fixed bug
  frontend/src/pages/ProfilePage.jsx
Labels: frontend

#44 frontend: fixed cookie bug
  frontend/src/components/Header.jsx
  frontend/src/pages/LoginPage.jsx
Labels: frontend

#45 general: Add style guidelines and linting commands
  README.md
Labels: documentation

#46 frontend: Mentor profile page
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/MentorCard.jsx
  frontend/src/components/MentorList.jsx
  frontend/src/pages/MentorPage.jsx
Labels: frontend

#48 Mentor profile
  frontend/public/index.html
  frontend/src/App.js
  frontend/src/components/Header.jsx
  frontend/src/components/MentorCard.jsx
  frontend/src/components/ProfileListCard.jsx
  frontend/src/components/TrackCard.jsx
  frontend/src/index.css
  frontend/src/pages/LandingPage.jsx
  frontend/src/pages/ListPage.jsx
  frontend/src/pages/MentorPage.jsx
  frontend/src/pages/ProfilePage.jsx
Labels: frontend

#49 general: Add next steps and URL
  README.md
Labels: documentation
